* {
  margin: 0;
  padding: 0;
}
.heading {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.color {
  height: 120px;
  width: 120px;
  border: 1px solid black;
  border-radius: 50%;
}
.btn {
  height: 30px;
  width: 100px;
  margin-top: 20px;
}
.copied-color {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
